<h1><%= @merchant.name %>'s Available Discounts</h1>

<% @discounts.each do |discount| %>
  <section id="discount-<%= discount.id %>">
    <ul>
      <p><%= link_to "#{discount.name} Discount", merchant_discount_path(@merchant, discount) %></p>
      <p>Discount Percentage: <%= discount.percentage_discount %></p>
      <p>Quantity Threshold: <%= discount.quantity_threshold %></p>
      <p>---------------------------</p>
    </ul>
  </section>
<% end %><br>

<h3>Upcoming Holidays</h3>
<% @upcoming_holidays.each do |holiday| %>
    <p><%= holiday[:name] %>, <%= holiday[:date] %></p>
<% end %>
