<h1><%= @merchant.name %>'s Available Discounts</h1>
<br>
<% @discounts.each do |discount| %>
  <section id="discount-<%= discount.id %>">
    <ul>
      <p><%= link_to "#{discount.name}", merchant_discount_path(@merchant, discount) %></p>
      <p>Discount Percentage: <%= discount.percentage_discount %></p>
      <p>Quantity Threshold: <%= discount.quantity_threshold %></p>
      <p><%= link_to "Delete #{discount.name} Discount", "/merchant/#{@merchant.id}/discounts/#{discount.id}", method: :delete %></p>
      <p>- - - - - - - - - - - - - - - -</p>
    </ul>
  </section>
<% end %><br>

<p><%= link_to "Create Discount", new_merchant_discount_path(@merchant) %></p><br>

<h3>Upcoming Holidays</h3>
<% @upcoming_holidays.each do |holiday| %>
    <p><%= holiday[:name] %>, <%= holiday[:date] %></p>
<% end %>
